#app {
    .fab-main {
        position: absolute;
        bottom: 64px;
        right: 128px;
        z-index: 100;
    }

    .margin-right {
        margin-right: 10px;
    }

    .margin-bottom {
        margin-bottom: 10px;
    }
}
