@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

img.mock {
  width: 100%;
}

img.logo-chat {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

label.logo-chat {
  font-weight: 500;
  font-size: 25px;
}

img.max-height {
  height: 100vh;
}

div.chat-control {
  background-color: #f2f2f2;
  width: 90%;
}

div.chat-new {
  background-color: #4696f0;
  border-radius: 1;
}

header.top-bar-box {
  background-color: #f2f2f2;
}

.welcome_padding {
  padding-left: 4em;
  padding-top: 6em;
  .css-nkzxvd-MuiStack-root {
    img {
      width: 3rem;
      height: 3rem;
      vertical-align: middle;
    }
    label {
      line-height: 3rem;
      font-weight: 700;
      font-size: 1.4rem;
    }
  }
  .welcome_title {
    margin: 1em 0 0 0;
    font-weight: 700;
    font-size: 2.4em;
  }
  .welcome_sub_title {
    margin-bottom: 3.8em;
  }
  .welcome_create {
    padding-top: 2em;
  }
}
