div.top-details-box{
    flex-grow: 1;
    background-color: #f2f2f2;
    margin: 15px;
    border-radius: 10px;
}

div.inner-box{
    margin: 15px;
    flex-grow: 1;
    position: relative;
}

img.chat-avatar{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
}

label.chat-title{
    font-size: 15px;
    font-weight: 500;
}

svg.red-type{
    fill: red;
}

svg.green-type{
    fill: green;
}

svg.yellow-type{
    fill: yellow;
}

svg.blue-type{
    fill: blue;
}

svg.white-type{
    fill: white;
}
div.color-box{
    margin: 15px;
    flex-grow: 1;
    position: relative;
}

div.button-box{
    margin: 5px;
    flex-grow: 1;
    position: relative;
}

label.button-text{
    color: white;
    font-size: 12px;
    
}

div.button-component{
    width: 50px;
    height: 70px;
    border-radius: 10px;
    padding: 3px;
}

div.light-blue-button{
    background-color: #4696F0;
}

div.dark-blue-button{
    background-color: #131940;
}

button.no-padding{
    padding: 2px;
}

label.side-title{
    font-size: 15px;
    font-weight: 500;
}

label.side-empty-title{
    font-size: 12px;
    color: grey;
}