div.recents-list{
    background-color: #f2f2f2;
    display: block;
    width: 90%;
    border-radius: 10;
}

div.secondary-action{
    top:40%;
}
p.timestamp{
    font-weight: 500;
    font-size: 14px;
}