div.input-box{
    height: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
    border-color: black;
    border-width: 1px;
    border-style: double;
    border-radius: 0.2em;
}
div.text-field-box{
    width: 95%;
    border-style: none;
}